<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="./src/css/style.css"> -->
    <title>Windows_Webpack</title>
</head>
<body>
    <header>
            <h1 id="title">Windows_Webpack</h1>
    </header>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fugit ipsum, laborum eveniet aut iste accusamus, ipsam sunt ducimus quos illum. Dolorum nobis quidem consequatur sint minima magni officia animi!</p>
    </div>
    <div class="container">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eos architecto, placeat cupiditate vel consectetur dolorem rem! Suscipit blanditiis libero, cum totam molestias repudiandae atque accusantium aut, veniam, culpa unde.</p>
    </div>
    <div class="container">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, adipisci.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quaerat id iusto veniam perspiciatis autem tempora similique quos ad fugiat.</p>
    </div>
</body>
<script src="../dist/bundle.js"></script>
</html>
